
<style>
    * {
        font-family: 'roboto';
    }

</style>

<h1 style="color:#ff7c00">Votre Inscription par {{oauthProvider}} bien était pris en compte</h1>

<div >Il semblerais que vous vous seriez connecté avec votre compte <span style="color: #ff7c00">{{oauthProvider}}</span></div>Un mot de passe proisoire vous a été généré : <span style="color: #ff7c00">{{randomPassword}}</span><div >nous vous conseillons vivement de le modifier dans votre espace utilisateur.</div>
