parameters:
 level: 8
 paths:
    - src
 excludePaths:
    analyseAndScan:
       - src/Extensions/Doctrine/MatchAgainst.php


 ignoreErrors:
 	- '#Method [a-zA-Z0-9\\_]+::dispatch\(\) invoked with 2 parameters, 1 required.#'
 	- '#Parameter \#1 \$user of method Symfony\\Component\\PasswordHasher\\Hasher\\UserPasswordHasherInterface::isPasswordValid\(\) expects Symfony\\Component\\Security\\Core\\User\\PasswordAuthenticatedUserInterface, object\|null given.#'
 	- '#Method App\\Security\\OAuth2\\OAuthAuthenticator::authenticate\(\) should return Symfony\\Component\\Security\\Http\\Authenticator\\Passport\\SelfValidatingPassport but return statement is missing.#'
 	- '#Parameter \#1 \$validator of method Symfony\\Component\\Console\\Question\\Question::setValidator\(\) expects \(callable\(\): mixed\)\|null, array\(App\\Utils\\CustomValidatorForCommand, string\) given.#'
 	- '#Parameter \#1 \$userIp of method App\\Security\\BrutForceChecker::checkIfBlackListed\(\) expects string, string\|null given.#'
 	- '#Parameter \#1 \$userIdentifier of class Symfony\\Component\\Security\\Http\\Authenticator\\Passport\\Badge\\UserBadge constructor expects string, bool\|float\|int\|string\|null given.#'
 	- '#Parameter \#1 \$password of class Symfony\\Component\\Security\\Http\\Authenticator\\Passport\\Credentials\\PasswordCredentials constructor expects string, bool\|float\|int\|string\|null given.#'
 	- '#Parameter \#2 \$csrfToken of class Symfony\\Component\\Security\\Http\\Authenticator\\Passport\\Badge\\CsrfTokenBadge constructor expects string\|null, bool\|float\|int\|string\|null given.#'
 	- '#Parameter \#1 \$(user|company) of method App\\Entity\\(Company|Notices)::set(User|Company)\(\) expects App\\Entity\\(User|Company), null given.#'
 	- '#Binary operation \"\.\" between array\|bool\|float\|int\|string\|null and ''\\\\'' results in an error.#'




 checkGenericClassInNonGenericObjectType: false


