{% extends 'base.html.twig'%}

{% block body %}
 verifiez votre compte ici : <a href="{{ absolute_url(path('app_check_modify_password', {'id' : userID , 'token': forgotPasswordToken})) }}" >Confirmer mon adresse e-mail</a>
 ce lien expire le {{ tokenDuration}}
{% endblock %}