{% extends 'base.html.twig'%}

{% block body %}
 verifiez votre compte ici : <a href="{{ absolute_url(path('app_verify_account', {'id' : userID , 'token':registrationToken})) }}" >Confirmer mon adresse e-mail</a>
 ce lien expire le {{ tokenDuration}}
{% endblock %}