{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mx-auto row">
        {% include "_partials/_flashbag.html.twig" %}
        <div class="app-h20vh" ></div>
        <div class="col-md-6 col-12 mx-auto background-notice-app pt-3 pb-2">

            <span class="color-app app-fs-1-2em">Mot de passe oublié</span>
            {{ form_start(forgotPasswordForm, { 'attr':{'class':'row pt-4'}}) }}

            <div class="col-4 ">
                <button class="btn btn-primary">Envoyer</button>
            </div>
            <div class="col-8">
                {{ form_row(forgotPasswordForm.email, { 'label': false,'attr':{'class':'','placeholder':'Email'}}) }}
            </div>

            {{ form_end(forgotPasswordForm) }}
            <span class="app-fs-0-7em app-opacity-05 ">entrez votre adresse email, un message vous sera envoyer contenant le lien de création du nouveau mot de passe.</span>
        </div>
    </div>
{% endblock %}