{% extends 'base.html.twig' %}

{% block body %}
{% include "_partials/_flashbag.html.twig" %}
<div class="container">

{{form_start(forgotPasswordForm)}}


<button type="submit"> ok </button>
{{form_end(forgotPasswordForm)}}
</div>
{% endblock %}