{% extends 'base.html.twig' %}

{% block body %}
{% if error is defined %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{{form_start(modifyPasswordForm)}}
<button type="submit">validé</button>
{{form_end(modifyPasswordForm)}}
{% endblock %}



