{% extends 'base.html.twig' %}
{% block body%}
    <div class="container">
    <div class="app-h20vh"></div>
        <div class="">
    <span class="color-app app-fs-10em">404</span><span class="ml-3 color-app">L'url saisie est introuvable.</span>
        </div>
        <span class="app-fs-0-8em app-opacity-05">N'hésitez pas à contacter le developpeur de l'application en cas de problème </span><span class="color-app app-fs-0-8em">project_dev_symfony@proton.me</span>
    </div>
{% endblock %}

