{% extends 'base.html.twig' %}
{% block body%}
    <div class="container">
        <div class="app-h20vh"></div>
        <div class="">
            <span class="color-app app-fs-10em">500</span><span class="ml-3 color-app d-inline-block">Une erreur interne est survenue.</span>
        </div>
        <div class="mt-3">
        <span class="app-fs-0-8em app-opacity-05 ">N'hésitez pas à contacter le developpeur de l'application en cas de problème </span><span class="color-app app-fs-0-8em">project_dev_symfony@proton.me</span>
    </div>
    </div>
{% endblock %}