
<style>
 *{
  font-family:'roboto';
 }

</style>
<h1 style="color:#ff7c00">Modification de mot de passe</h1>
 Cliquer sur ce lien afin de modifier votre mot de passe : <a href="{{ absolute_url(path('app_check_modify_password', {'id' : userID , 'token': forgotPasswordToken})) }}" style=" color: #ff7c00 ">Modifier mon mot de passe</a>
 <div style="margin-top: 10px;"><span style="opacity: 0.7">ce lien expire le </span><span style="color: #ff7c00">{{ tokenDuration}}</span>.</div>