<style>
    * {
        font-family: 'roboto';
    }

</style>
<h1 style="color:#ff7c00">Votre Inscription à bien était pris en compte</h1>
Veuillez verifiez votre compte ici :
<a href="{{ absolute_url(path('app_verify_account', {'id' : userID , 'token':registrationToken})) }}" style=" color: #ff7c00 ">
    Confirmer mon compte
</a>
<div style="margin-top: 10px;"><span style="opacity: 0.7">
  ce lien expire le
 </span>
    <span style="color: #ff7c00">
  {{ tokenDuration }}
 </span>.
</div>
